.container_notes {
  /*position: absolute;*/
  /*text-align: center;*/
  width: 20%;
  float: center;
  margin-left: 10pt;
  height: 100%;
  margin-top: -5pt;
}

.note_container_area {
  /*position: relative;*/
  /*text-align: center;*/
  width: 80%;
  margin-right: -10pt;
  margin-top: -5pt;
  float: right;
}

.home {
  display: flex;
  flex-direction: row;
}