.title textarea {
    width: 100%;
    height: 5vh;
    font-weight: bold;
    font-size: 18pt;
    margin-top: 5pt;
    margin-left: 10pt;
    border-width: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    
}
