.description textarea {
    width: 90%;
    height: 50vh;
    min-height: 50vh;
    font-size: 10pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-bottom-width: 0pt;
    border-left-width: 0pt;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}
