.title textarea {
    width: 100%;
    height: 5vh;
    resize: none;
    font-weight: bold;
    font-size: 16pt;
    margin-top: 5pt;
    margin-left: 10pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-bottom-width: 0pt;
    border-left-width: 0pt;
    font-family: Arial, Helvetica, sans-serif;
    outline:none;
}

.title textarea :focus {
    border-width: 1pt 1pt 1pt 1pt;
    border-color: white;
}
