.container_text_editor textarea {
    width: 100%;
    height: 95vh;
    margin-top: 0;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-bottom-width: 0pt;
    border-left-width: 0pt;
    outline: none;
}
