.note {
    background-color: white;
    min-height: 40pt;
    max-height: 40pt;
    height: 40pt;
    border-width: 0 0 1pt 0;
    border-color: gray;
    border-style: solid;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.note p {
    font-size: 16pt;
    color: gray;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.choosen_note {
    background-color: white;
    height: 40pt;
    min-height: 40pt;
    max-height: 40pt;
    height: 40pt;
    border-width: 0 0 1pt 0;
    border-color: gray;
    border-style: solid;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.choosen_note p {
    font-size: 16pt;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 90%;   
}